body{ margin: 0 !important; padding:0 !important; background: #f5f5f5; font-family: "Microsoft Yahei";}
li{list-style: none;}
ul{margin:0; padding:0;}
p{margin:0; padding:0;}
img{margin:0; padding:0; border:none; border:0;}
a{text-decoration: none;}

.header{width:1200px; margin:0 auto;}
.menu{min-width:984px;height:60px;
    padding:0 20px;border-bottom:1px solid #CC5A18;box-shadow:0 2px 2px rgba(0,0,0,0.2);
    background:#fa8723;background:-moz-linear-gradient(top, #fa8723 0, #f57614 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #fa8723), color-stop(100%, #f57614));
    background:-webkit-linear-gradient(top, #fa8723 0, #f57614 100%);
    background:-o-linear-gradient(top, #fa8723 0, #f57614 100%);
    background:-ms-linear-gradient(top, #fa8723 0, #f57614 100%);
    background:linear-gradient(to bottom, #fa8723 0, #f57614 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa8723', endColorstr='#f57614', GradientType=0)}
.menu ul{width:1200px; margin:0 auto;}
.menu li{float:left; padding: 0px 13px; width:auto; line-height: 50px;}
.menu li a{float: left; display: block; width: 90px; height: 60px; font-size: 16px; line-height: 60px;
    text-align: center; color: #FFF; text-shadow: 0 1px 1px rgba(0,0,0,0.5);}
.menu li a:hover{float: left; display: block; width: 90px; height: 60px; font-size: 16px; line-height: 60px;
    text-align: center; color: #FFF; text-shadow: 0 1px 1px rgba(0,0,0,0.5);}
.menu li a:hover{background:#db6600;background:-moz-linear-gradient(top, #db6600 0, #f57614 100%);
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0, #db6600), color-stop(100%, #f57614));
    background:-webkit-linear-gradient(top, #db6600 0, #f57614 100%);
    background:-o-linear-gradient(top, #db6600 0, #f57614 100%);
    background:-ms-linear-gradient(top, #db6600 0, #f57614 100%);
    background:linear-gradient(to bottom, #db6600 0, #f57614 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db6600', endColorstr='#f57614', GradientType=0)}
.main-partition{width:1200px; margin:0 auto; padding-top:30px;}
.main-partition .left{display:inline-block; width:865px; float:left;}
.main-partition .right{display:inline-block; width:300px; float:left; padding-left:35px;}
.home-ad1{ width:1200px; margin:0 auto; padding-bottom: 22px;}
.home-ad2{ width:1200px; margin-bottom:22px;}
.top-flash{ width:1200px;}
/*********section list **********/
.section{ margin:0 auto; border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF;
    width:1200px; margin-top:30px; padding:20px; min-height: 50px;}
.section h4 span a{color:#f60; font-size:14px;}
/***********section end ***************/

.fm-list .fm-list-content{ overflow: hidden; border-bottom: 1px dashed #CCC; border-top: 1px dashed #ccc; }
.fm-list .fm-list-content a{ float: left; margin: 10px 0 10px -1px; padding: 0 10px; border-left: 1px solid #EEE;
    color: #999; }

/*********footer**********/
.footer { overflow: hidden; min-width: 984px; padding: 0 20px; border-top: 1px solid #e6e6e6; background-color: #FFF;
    text-align: center; min-height: 50px; padding-top:30px; padding-bottom:30px; margin-top:30px;}
/*********footer**end*********/



/**********registration**************/
.registration-form{ margin:0 auto; border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF;
    width:1200px;}
.steps { height: 46px; border-bottom: 2px solid #e6e6e6; position: relative; }
.steps ol { width: 720px; margin: 0 auto; padding:0; }
.steps ol li.active { color: #3e3e3e; border-bottom: 2px solid #ff4700; }
.steps ol li { display: inline; float: left; width: 170px; padding-left: 70px; height: 46px; line-height: 46px;
    font-size: 16px; font-weight: bold; color: #999;
    font-family: "\5FAE\8F6F\96C5\9ED1","\534E\6587\7EC6\9ED1","\9ED1\4F53",arial; }
.steps ol li.active i { background-image: url('../images/ico-circle1.png'); }
.steps ol li i { display: inline-block; zoom: 1; margin-right: 5px; width: 24px; height: 24px; text-align: center;
    font-style: normal; line-height: 24px; font-size: 14px; font-weight: bold; color: #FFF;
    background: url('../images/ico-circle2.png') no-repeat 0 0;}
.registration-form ul{width:800px; margin:0 auto; padding-top:40px;}
.registration-form ul label{width:260px; text-align: right; padding-right:15px;}
.registration-form ul li {float:left; width:800px; margin-bottom:12px;}
.registration-form ul li:after{clear:both;}
.registration-form ul:after {clear:both;}
.registration-form input[type='text']{width: 230px;}
.registration-form input[type='email']{width: 230px;}
.registration-form input[type='password']{width: 230px;}
.registration-form input[type='file']{width: 230px; display:inline;}
.registration-form label.float-left{float:left;}
.registration-form .busytime-block{float:left;}
.registration-form ul ul{width:440px; display:inline;}
.registration-form ul ul li{display:inline; width:60px;}
.registration-form ul ul input[type='text']{width:50px;}
.registration-form ul li input.timepicker{width:95px;}
.registration-form .tip-large {font-size:16px; text-align: center; min-height: 75px; padding:50px; font-weight:bold;}
.registration-form .tip-large p{padding-bottom:30px; font-size:24px;}
.btn-large { min-width: 180px; }
.btn { display: inline-block; zoom: 1; height: 36px; line-height: 36px; padding: 0 20px; color: #FFF; font-weight: bold;
    font-size: 16px; text-align: center; background: #ff4001; border: none; border-radius: 3px; cursor: pointer; }
span.required {padding: 0 5px; color:#f77e1b; font-weight: bold;}

/**************newest rank********************/
.audio-list{width:865px;border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF; min-height: 552px; margin-bottom:22px;}
.audio-list li{min-height:26px; float:left; width:833px; text-align: -webkit-center; line-height: 26px;}
.audio-list ul{padding:0 16px;}
.audio-list div.title{background: #e15a22; color:#fff; font-weight: bold; height:30px; font-size: 14px; line-height: 30px;
    padding:0 16px;}
.audio-list li.color{background: #f5f5f5;}
.audio-list li:hover{background:#f77e1b; color:#fff;}
.audio-list span{float:left; text-align: center; width:64px; height:28px; overflow: hidden;}
.audio-list span.index{width:32px;}
.audio-list span.title{width:180px;}
.audio-list span.artist{width:75px;}
.audio-list span.corp{width:175px;}
.audio-list span.change{width:60px;}
.audio-list span.score{width:50px;}
/*.audio-list span.play{width:50px; position: absolute;}*/
.audio-list .rank-countdown{border-radius:4px 4px 0 0; border:1px solid #e60; border-bottom:0; padding-left:12px;
    line-height:26px; color:#e15a22;}
a.play-btn{width:20px; height: 19px; background: url('images/play.png') no-repeat;
    border-radius: 5px; display:inline-block; position: relative; top:4px;}
/**************newest rank********************/

/************champion*************/
.champion-list .title { height: 41px; margin: 0;
    background: url('../images/tit_hot_room.png') no-repeat; line-height: 40px; padding-left:16px; font-size:16px; color:#fff;}
.champion-list{width:300px;border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF; min-height: 552px; margin-bottom:22px;}
.champion-list ul{padding: 15px 0;}
.champion-list li{ float: left; margin-left: 35px; width: 230px; border-bottom: 1px solid #ebebeb; padding-bottom:3px;}
.champion-list li:hover{background:rgb(224,224,224)}
.champion-list .voter{color:#2764b3;}
.champion-list .artist{background: #f60; color:#fff; font-weight: bold;}
/************champion*************/

/***********article-list**********/
.article-list.img .nav-content{ overflow: hidden; border-top: 2px solid #F60; border-bottom: 1px solid #EBEBEB;
    background-color: #FFF; margin-bottom:25px;}
.article-list ul li a.title{height:27px; width:100%; display: block; overflow: hidden;}
.article-list .tag{float:left;}
.article-list .tag a{ height: 42px; padding: 0 20px; line-height: 42px; font-size: 14px; color:#f60;}
.article-list.img .nav-content .current{background-color: #F60; border-color: 1px solid #F60; color:#fff;}
.article-list.img .nav-content .current a{ color: #FFF; cursor: default; outline: none; }
.article-list.img li{ border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF; float:left; margin-right:12px;
    padding:8px; width:204px; height:240px; overflow: hidden; line-height:30px; margin-left:18px; margin-right:18px;}
.article-list.img li img{width:185px; height:185px; margin-bottom:5px;}
.article-list.img li span{color:#000;}
/***********article-list**********/

/**********article-detail***********/
.article-detail { border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF; float:left; width:700px;
    padding:20px; min-height: 800px; position:relative;}
.article-detail .content{padding-bottom:40px;}
.jiathis-block{position:absolute; bottom:15px; left:15px;}
/**********article-detail***********/

/***************play-bar****************/
#play-bar {width:734px; height:70px; position: fixed; display:block; bottom:0; margin:0 auto; background:#f60;
    opacity: 0.7; left:50%; margin-left:-367px; border-radius:8px; z-index: 998; display: none;}
#play-bar .audiojs .play-pause{padding:4px 0px;}
#play-bar>* {position:absolute; left:50%; margin-left:-230px; top:50%; margin-top:-18px; z-index:999;}
#play-bar > .close-btn {position:absolute; left:98%; top:-17px; background:url('../images/fancybox_sprite.png') no-repeat;
    width:34px; height:34px; margin:0; cursor: pointer;}
/***************play-bar****************/

/***************report-list*************/
.report-list{width:1200px;border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF; min-height: 552px; margin-bottom:22px;}
.report-list li{min-height:26px; float:left; width:1168px; text-align: -webkit-center; line-height: 26px;}
.report-list ul{padding:0 16px;}
.report-list div.title{background: #e15a22; color:#fff; font-weight: bold; height:30px; font-size: 14px; line-height: 30px;
    padding:0 16px;}
.report-list li.color{background: #f5f5f5;}
.report-list li:hover{background:#f77e1b; color:#fff;}
.report-list span{float:left; text-align: center; width:64px;}
.report-list span.details{width:80px;}
.report-list span.term-no{width:80px;}
.report-list span.index{width:80px;}
.report-list span.title{width:175px;}
.report-list span.artist{width:175px;}
.report-list span.corp{width:175px;}
.report-list span.is-pre{width:80px;}
.report-list span.fm-count{width:80px;}
.report-list span.champion-count{width:80px;}
.reprt-list span.score{width:100px;}
.report-list span.play{width:100px;}

.search form {
    position: relative;
    height: 30px;
    border: 1px solid #DB6816;
    border-radius: 3px;
    background-color: #FFF;
    margin-bottom: 3px;
}
.search form .text {width:360px; float:left; height:30px;}
.search form .select {width:300px; float:left; height:30px;}
.search form .select select{height:28px; border:1px dashed #fff;}
.search form span{line-height: 30px;}
.search .keyword {
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    padding: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 30%;
    height: 28px;
    border: none;
    border-radius: 3px;
    text-indent: 30px;
    line-height: 28px \9;
}
.search .submit {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 24px;
    height: 24px;
    border: none;
    margin-top: -1px;
    background: url('http://img.xiami.net/static/img/common/header_icon.png?v=20140504113709') no-repeat 0 -48px;
    _background-image: url('http://img.xiami.net/static/img/common/header_icon.gif?v=20140504113709');
    text-indent: 100%;
}
/***************report-list*************/

/************article**********/
.article-block{width:700px; padding:18px; border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF; min-height: 552px; margin-bottom:22px;}
.left.article{width:700px;}
.right.article{width:500px;}
.right .article-block {width: 465px;}
.right .pic-block {width: 465px; min-height: 360px;}
.right .pic-block li{float:left; margin-left:14px; margin-right:14px; margin-bottom:8px;}
.right img{width:185px; height:185px;}
.category-title {margin: 10px 0; font-size:24px; color:#555;}
.category-title a{color:#555;}
/*.left .article-block li{border-bottom: 1px dashed #ccc; height:30px; line-height: 30px;}
.left .article-block li span{float:right;}*/
.right .article-block li span{float:right;}
.right .article-block li{border-bottom: 1px solid #ebebeb; height:30px; line-height: 26px;}
.right .article-block li:hover{background:#ebebeb;}
.right .article-block.star_news{min-height:332px;}
.right .article-block.hot_news{min-height:332px;}
/************article**********/


/************menu fm list***************/
.fm-menu-title{margin: 10px 0; font-size:24px; color:#555;}
.fm-menu-list
{width:100%; padding:18px; border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF; min-height: 552px; margin-bottom:22px;}
/************menu fm list***************/

/************fm details**************/
.main-partition .left.fm-details{width:300px;}

.fm-section{
width:300px; padding:18px; border: 1px solid #EBEBEB; border-radius: 4px; background-color: #FFF; min-height: 222px;
    margin-bottom:22px;}
.fm-section .title { height: 41px; margin: 0;
    background: url('../images/tit_hot_room.png') no-repeat; line-height: 40px; padding-left:16px; font-size:16px;
    color:#fff; margin-bottom:6px;}
.fm-section img{width:262px; height:262px; margin-bottom: 4px; margin-top: 4px;}
.fm-banner{background: #d44711; width:100%;}
.fm-banner-inner{width:1140px; margin:0 auto; padding:30px; color: #fff; font-size:24px;}
.fm-banner-inner .title{ font-size: 64px; font-weight: bold;}
/************fm details**************/

/***********juno*********/
.juno_nav{width: 1202px; height: 26px; background: url(../images/juno_nav_1.jpg)}
.juno_nav a{float: right; color: #f5f5f5; font-size: 14px; position: relative;right: 15px; top: 4px}
/*.article-list ul{ margin-top:15px }*/

.juno_section{margin: 0 auto; width: 1202px; margin-top: 30px; min-height: 50px;}
.juno_nav_2{width: 1202px; height: 26px; background: url(../images/juno_nav_2.jpg)}
.juno_nav_2 a{float: right; color: #f5f5f5; font-size: 14px; position: relative;right: 15px; top: 4px}
.juno_section ul{ width: 1150px; min-height: 50px; margin:30px auto 0 auto;}
.juno_section ul li{ float: left; margin-right: 29px; margin-top:7px }
#juno_null_div{content: ".";display: block;height: 0;visibility: hidden;clear: both;}


.juno_nav_3{width: 1202px; height: 26px; background: url(../images/juno_nav_3.jpg)}
.juno_nav_3 a{float: right; color: #f5f5f5; font-size: 14px; position: relative;right: 15px; top: 4px}

/*.article-list ul{ margin-top:15px }*/
/***********juno*********/

/************juno article-list*************/

.juno_box{width: 660px; margin: 0 auto;padding: 18px;border: 1px solid #EBEBEB;border-radius: 4px;background-color: #FFF;min-height: 552px;margin-bottom: 22px;}

.juno_box_type{ width:100%; background: #f98521;text-align: center;line-height: 40px;height: 40px;border-bottom: 2px solid #de6802;font-size: 20px;}
.juno_box_a_current{background: #de6802;color: #fff;}
.juno_box_a_notcurrent{color: #9b5d27;}
.juno_box_type a{display: block;float: left;width: 128px;}
.juno_box_type a:hover{ text-decoration: none;color:#fff;}

.juno_box_ul{padding: 18px 0 20px;border-bottom: 1px solid #d5d5d5;}

.juno_box ul li h2{color:#000; font-size: 20px; font-weight: bold; line-height: 28px;}
.juno_box_title a{color:#000;}
.juno_box ul li a:hover{color:#be0900; text-decoration: none;}
.juno_box ul:hover{background: #fcfcfc}



.juno_box_title{ width:100%; height: 28px;line-height: 28px;}

.juno_box img{width:130px;}
.juno_box_img{width: 130px; height: 87px;float: left;position: relative;margin-top: 5px;margin-right: 15px; overflow: hidden;}
.juno_box_cont{font-size: 15px;line-height: 26px;color: #555;}
.juno_box_cont a{color: #666;}
.juno_box_time{margin-top: 12px;font-size: 14px;color: #555;height: 20px;overflow: hidden;}
.juno_box_time a{margin-left: 20px;color: #666;}

.juno_box_cont:after {content: ".";display: block;height: 0;visibility: hidden;clear: both;}

/************juno article-list*************/
