body{font-size:14px;}
.center{width: 274px; padding:40px;}
.center{background-color: #f7f7f7;
        border-radius: 2px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);}
.title{font-weight:bold; font-size:20px; height:83px; line-height:83px;}
.type-button{padding-top:30px;}
.type-button input{box-sizing: border-box;
        display: block;
        margin-bottom: 10px;
        position: relative;
        width: 100%;
        z-index: 1;
        font-family: Arial,sans-serif;
        font-size: 13px;
        background-color: #4d90fe;
        background-image: -moz-linear-gradient(center top , #4d90fe, #4787ed);
        border: 1px solid #3079ed;
        color: #fff;
        text-shadow: 0 1px rgba(0, 0, 0, 0.1);
        font-size:16px;
}
.center tr{height:25px;}
fieldset{width:247px;}
.textfield{width:234px;}
.choose div{float:left; margin:0 auto; width:88px; margin-right:2px; background:#ddd; height:30px; line-height:30px;}
.choose div:hover{background:#444; color:#fff; cursor:pointer;}
.choose .selected{background:#444; color:#fff;}
.choose{float:left;}
.choose-block{width:270px; margin:0 auto; margin-bottom:50px}
.info_msg{color:#f00;}
