{{ form(form) }}
<ul>
    {% for item in comment_list %}
        <li>
            {{ item.member_name }}:
            {{ item.content }}
            {{ item.comment_time|date('Y-m-d') }}
        </li>
    {% endfor %}
</ul>
