{% extends 'AcmeBackendBundle:Default:layout.html.twig' %}
{% block body %}
    <form action="{{ path('_unvadmin_password_edit') }}" method="post" >
        <input name="password" data-validate="required" type="password"/>
        <input name="password_repeat" data-validate="required" type="password"/>
        <input type="submit" />
    </form>
{% endblock %}
