{% extends 'AcmeFrontendBundle:Default:base.html.twig' %}

{% block body %}
    <div class="main-partition">
    <div class="fm-menu-list ">
        <div class="fm-menu-title">全国电台列表</div>
        <ul>
            {% for a in allfms %}
                <li style="width: 249px; padding-left:10px; padding-bottom: 4px; float:left; margin:16px; border-bottom:1px dashed #f60;">
                    <a href="{{ path('_fm_detail', {"id": a.id}) }}" style="">{{ a.fm_name }}</a>
                </li>
            {% endfor %}
            <div style="clear:both;"></div>
        </ul>
    </div>
    <div style="clear:both"></div>
{% endblock %}